{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
     {% if category %}
         {{ category.description|truncatewords:155 }}
     {% else %}
         Welcome to Shopkart where you can buy everything

{% endif %}
{% endblock %}

{% block title %}
{% if category %}
         {{category.name}} - Shopkart
     {% else %}
         See Our New Collections
     {% endif %}
{% endblock %}

{% block content %}
{% if category %}
    <div>
      <div class="row my_row_class">
          <div class="mx_auto">
       <p><a href="{% url 'shopapp:allprodcat' %}">Our Product Collections</a></p>
    </div>
          </div>
      </div>
    {% endif %}

<div class="mx_auto">
  {% if category %}
  <img src="{{category.image.url}}" height="600px" width="1550px" alt="{category.name}}">
</div>
<br>

<div>
    <h1 class="text-center"> {{category.name}} </h1>
    <h4 class="text-justify">{{category.description}}</h4>
</div>

<div>
     {% else %}
      <img
              src="{% static 'img/ban.png' %}" alt="Our Products" height="200px" width="1550px">
</div>
<br>

<div>
  <h1 class="text-center myt_itle">Our Products Collection</h1>
  <p class="text-justify">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
</div>
{% endif %}
<div class="container">
  <div class="row mx_auto">
    {% for product in products.object_list %}
    <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
      <div class="card text-center" style="min-width:18rem;">
        <a href="{{product.get_url}}"><img class="card-img-top myimage" src="{{product.image.url}}" width="300" height="300" alt="{{product.name}}"></a>
        <div class="card-body">
          <h2>{{product.name}}</h2>
          <h4>₹ {{product.price}}</h4>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
          {% for pg in products.paginator.page_range %}
            <a href=?page={{pg}}"  class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}

